
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

html {
    /* prevents padding from adding extra width or height to the page - use in every page */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* 100vh represents full height of the screen */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 37); /* Dark Gray */
}

.button-container { /* Creating a 3D looking button container */
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

