html {
    /* prevents padding from adding extra width or height to the page - use in every page */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* 100vh represents full height of the screen */
    min-height: 100vh;
}

