@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 /* Border-box: Prevents padding from adding extra width or height to the page*/

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
}

